@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;500&display=swap");

body {
  font-family: "Sansita Swashed", cursive;
}

h1 {
  color: blue;
}

h2 {
  color: black;
}

h3 {
  color: blue;
}

.images {
  text-align: center;
  text-transform: capitalize;
  width: 80vw;
  margin: 0 auto 10rem auto;
}

.single-image {
  border: 3px solid green;
  padding: 0.5rem 0;
}

.single-product {
  margin: 1rem auto;
  border: 1px solid black;
  padding: 1rem;

}

#single-product-cost {
  background: yellow;
  color: red;
  font-size: 1.5rem;
}

@media screen and (min-width:992px) {
  .images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
  }

  .single-product {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 1rem;
  }


}